<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	
	
	
	<servlet>
		<servlet-name>EmployeeData</servlet-name>
		<servlet-class>com.ty.controller.EmployeeController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EmployeeData</servlet-name>
		<url-pattern>/empl</url-pattern>
	</servlet-mapping>
	
</web-app>
